<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GoUI</title>
</head>
<body>
  <noscript>Please enable JavaScript.</noscript>
  <div id="root"></div>
  {{.Init}}
</body>
</html>
